<div class="jumbotron">
	<h1>About</h1>
	<p>
		Wuling Online Judge is a judge developed by students of Wuling High School.<br>
		Built with <a href="https://www.ruby-lang.org/">Ruby</a> web platform - <a href="http://sinatrarb.com">Sinatra</a>, <a href="https://redis.io">Redis</a>,  <a href="https://www.postgresql.org">PostgreSQL</a>, <a href="https://www.docker.com">Docker</a> and <a href="https://gcc.gnu.org">GCC</a>.
	</p>

	<h5>Main Developers:</h5>
	<ul>
		<li>謝文傑 (Jason Hsieh)</li>
	</ul>

</div>